<h2>ติดต่อโจ</h2>
<hr />
<div class="row">
    <div class="col-6">
        <MAP>แผนที่</MAP>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.4173604614062!2d100.92108741460733!3d13.118670408431164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b9d96add822b%3A0x9b23a4cf7ff38c!2z4LiE4LiT4Liw4Lin4Li04LiX4Lii4Liy4Lio4Liy4Liq4LiV4Lij4LmMIOC4qOC4o-C4teC4o-C4suC4iuC4siDguKHguKvguLLguKfguLTguJfguKLguLLguKXguLHguKLguYDguIHguKnguJXguKPguKjguLLguKrguJXguKPguYw!5e1!3m2!1sth!2sth!4v1724744188127!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-6">
        <h2>ที่ตั้ง</h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="font-size: 20px;">
                <p>ตั้งอยู่ใน: มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</p>
            </div>
        </div>
        <h2>เบอร์โทร</h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9" style="font-size: 20px;">
                <p>0777777777</p>
            </div>
        </div>
        <h2>Social Media</h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><a href="facebook.com" target="_blank">
                <h1><i class="bi bi-facebook"></i></h1>
            </a>
            </div>
        </div>
    </div>