<h1>เมนูอาหาร</h1>
<hr />
<h1>อาหารคาว</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://i.pinimg.com/originals/6f/9d/13/6f9d133ee92c028963ecac4edea4dd50.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          กระเพราหมูกรอบไข่ดาว
        </div>
        <p class="card-text">อร่อยมากๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://yalamarketplace.com/upload/1629194553304.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          คะน้าหมูกรอบ
        </div>
        <p class="card-text">อร่อยสัดๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTutQKA5mtxp_yKOv3gdhoR6bis2g9fHvBBmMnFrTKwe9Ym43EGa31IJnWwKMWLMcQkq3A&usqp=CAU" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ข้าวผัดหมูกรอบ
        </div>
        <p class="card-text">อร่อยเหี้ยๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://img.wongnai.com/p/256x256/2023/04/26/b9924ba0c54c447e8598054ec9f5235d.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          หมูกรอบคั่วพริกเกลือ
        </div>
        <p class="card-text">อร่อยชิบหาย</p>
      </div>
    </div>
  </div>
</div>
<br>
<h1>อาหารหวาน</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://pbs.twimg.com/media/DFvUf-UVoAAdA3N.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ขนมปังปิ้งวิปครืม
        </div>
        <p class="card-text">อร่อยมากๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://mpics.mgronline.com/pics/Images/559000004852401.JPEG" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ไอติมทอด
        </div>
        <p class="card-text">อร่อยสัดๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl4WckhxpAZ78KXGMuWIBr3dNT0R-uVd-HdA&s" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ครอฟเฟิล
        </div>
        <p class="card-text">อร่อยเหี้ยๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://images-storage.thaiware.site/tips/2020_07/728/1327_20070918501619_104.png" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ไอศครีมซันเดย์
        </div>
        <p class="card-text">อร่อยชิบหาย</p>
      </div>
    </div>
  </div>
</div>
<br>
<h1>เครื่องดื่ม</h1>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://www.aromathailand.com/wp-content/uploads/2023/09/shutterstock_1139687273.jpeg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ชาไทย
        </div>
        <p class="card-text">อร่อยมากๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://img.wongnai.com/p/1920x0/2019/02/02/1e0e327a52ce405196bb7242d22ea752.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ชาเขียว
        </div>
        <p class="card-text">อร่อยสัดๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://img.wongnai.com/p/400x0/2021/04/26/898c3fe2b6344992a2f2ef26a63ed062.jpg" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          นมสด
        </div>
        <p class="card-text">อร่อยเหี้ยๆ</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf24sxkyFadh6Uu_LcdnBYYLnBCcnzOEWoDg&s" class="rounded" style="width: 300px;">
      </div>
      <div class="card-body">
        <div class="card-title h5">
          ลาเต้
        </div>
        <p class="card-text">อร่อยชิบหาย</p>
      </div>
    </div>
  </div>
</div>